$text-primary: rgba(255, 255, 255, 0.81);
$text-secondary: rgb(127, 127, 127);
$background-primary: rgb(25, 25, 25);
$background-secondary: rgb(47, 47, 47);
$border-color: rgba(255, 255, 255, 0.282);
$icon-filter: invert(100%) sepia(38%) saturate(3131%) hue-rotate(141deg) brightness(96%)
  contrast(86%);

$text-primary-light: #121212;
$text-secondary-light: rgb(47, 47, 47);
$background-primary-light: #ffff;
$background-secondary-light: #f6f5f4;
$border-color-light: rgb(180, 180, 180);
$icon-filter-light: invert(0%) sepia(38%) saturate(3131%) hue-rotate(141deg)
  brightness(96%) contrast(86%);

$shadow: rgb(15 15 15 / 15%) 0px 0px 0px 2px, rgb(15 15 15 / 15%) 0px 3px 6px;

// Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: inter-var, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.5;

  color-scheme: light dark;

  user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select {
  background: $background-secondary;
  border: 0.5px solid $border-color;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: auto;
  box-shadow: $shadow;
}

input[type='submit'] {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.error {
  color: #dc2626;
  font-size: 12px;
  margin: 0.5rem 0 0 1.5rem;
  list-style: disc;

  li {
    list-style: disc;
  }
}
